h1 {
 text-align: center;
} 

.ns-horizontal-section__item {
    padding:10px!important;
    width: 100vw !important;
    height: calc(100vh - 400px);
    display: flex;
    align-items: center;
}


.ns-parallax-image {
    width: 100vw;
}

.ns-parallax-image__inner {
    object-fit: contain !important;
}

.slick-arrow {
    display: none !important;
}

.firstpage {
    height: 180vh
}

.firstpage2 {
    height: 200vh
}



body {
    margin: 0 !important
}

.slidecontainer {
    display: flex;
    justify-content: center;
    /* 수평 중앙 정렬 */
    align-items: center;
    /* 수직 중앙 정렬 */
    /* display: inline; */

}

.slick-slider {
    display: flex;
    justify-content: center;
    /* 수평 중앙 정렬 */
    align-items: center;
    /* 수직 중앙 정렬 */
    width: 100%
}


.mainsection {
    padding: 10px;
}

.mainsection2 {
    padding: 120px!important;
}

.floor1_bg {
    height: "100hv";
    width: "100wv";
    min-Width: "400px";
    overflow: "hidden";
    margin: "0"
}

.floor1_bg img {
    transform: "scale(1.2)";
    width: "100%";
    height: "100%";
    object-fit: cover
        /* objectFit: "cover"; */
}

.c-intro {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #ffffff;
    /* display: none; */
    opacity: 0.9;
}
.floor0{line-height: 150%;}

.floor1 {
    background-color: #505050;
    color: #ffffff;
}

.floor2 {
    /* background-color: #505050; */
    color: #ffffff;
}

.floor3 {
    background-color: #b6deff;
    color: #ffffff;
}

.outside {
    background-color: #461d1d;
    color: #ffffff;
}

.title {
    font-size: 2em;
}

div.ns-horizontal-section__item {
    padding-top: 0px;
    /* margin-top: 100px; */
}



.titleMain {
    position: absolute;
    height: 100vh;
    width: 100%;
    font-size: 3em;
    background-color: #171717;
    top: 0
}

.Hero_title_center {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Hero_title1 {
    top: 0;
    left: 0;
}

.Hero_title2 {
    top: 0;
    right: 0;
    text-align: right;
}

.Hero_titlecenter {
    top: 50%;
    left: 50%;
}

.Hero_title3 {
    bottom: 0;
    left: 0;
}

.Hero_title4 {
    bottom: 0;
    right: 0;
    text-align: right;
}

.Hero_titleContainer {
    position: absolute;
    width: 40%;
    height: 40%;
    z-index: 1;
    color: #ffffff;

}

.title1Sub {
    translate: none;
    rotate: none;
    scale: none;
    /* transform: rotate(-45deg); */
    text-align: center;
}

.title2Sub {
    translate: none;
    rotate: none;
    scale: none;
    /* transform: rotate(45deg); */
    text-align: center;
}

.titleCSub {
    translate: none;
    rotate: none;
    scale: none;
    color: #ffffff;
}

.title3Sub {
    translate: none;
    rotate: none;
    scale: none;
    /* transform: rotate(45deg); */
    bottom: 40%;
    text-align: center;
}

.title4Sub {
    translate: none;
    rotate: none;
    scale: none;
    text-align: center;
    /* transform: rotate(-45deg); */
}


