/* footer.css */
.footersection {
  position: relative;
  width: 100%;
  padding: 20px 0;
  /* background-color: grey; */
  text-align: center;
}

.c-footer {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-info {
  margin-bottom: 10px;
}

.c-footer_text {
  max-width: 70vw;
  font-size: 1.5rem;
  font-weight: normal;
  text-transform: uppercase;
}

.footer-info p {
  margin: 5px 0;
  color:#000;
}


.footer-info a {
  color: #000;
  text-decoration: none;
}

.footer-info a:hover {
  text-decoration: underline;
}
