/* App.css */
.embla {
    overflow: hidden;
  }
  
  .embla__container {
    display: flex;
  }
  
  .embla__slide {
    position: relative;
    min-width: 100%;
  }
  
  .embla__slide img {
    display: block;
    width: 100%;
    height: auto;
  }
  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .left-cursor {
    cursor:move;
    cursor: url('/arrow-left.cur'), auto;
  }
  
  .right-cursor {
    cursor: url('/arrow-right.cur'), auto;
  }