/* components/EmblaCarousel.module.css */
.embla {
    overflow: hidden;
  }
  
  .embla__viewport {
    overflow: hidden;
    width: 100%;
  }
  
  .embla__container {
    display: flex;
    user-select: none;
  }
  
  .embla__slide {
    position: relative;
    flex: 0 0 100%;
    opacity: 0;
    transition: opacity 1s;
  }
  
  .embla__slide:first-child {
    opacity: 1;
  }
  