.-end2 {
  display: hidden !important;
}
.style_paragraph__1jtpu{
  font-size: 20px!important;
}
@font-face {
  font-family: 'YDGothic520';
  src: url('/fonts/YDGothic520.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'YDGothic520', sans-serif;
}