html {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
body {
  overflow-y: visible;
  position: relative;
  overflow-x: hidden;
}
html,
body {
  margin: 0;
}

.container {
  width: 600vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.floor{
  z-index: 999;
}

.firstContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: yellow;
}

.lastContainer {
  display: flex;
  height: 100vh;
  background: yellow;
}

.panel {
  width: 100vw;
  height: 100vh;
}
.red {
  background: blue;
}
.red {
  background: red;
}
.orange {
  background: orange;
}
.purple {
  background: purple;
}
.blue {
  background-color: blue;
}
